config.py

# bot
bot/navparse/nav.json
bot/config.py

# demoparse microservice
microservices/demoparse_py
microservices/demoparse/config.py
microservices/demoparse/data

# recorder microservice
microservices/recorder/demo
microservices/recorder/temp
microservices/recorder/mmcfg
microservices/recorder/hlae
microservices/recorder/config.py

# uploader microservice
microservices/uploader/config.py

# docker stuff
.env
Makefile
docker-compose.yml

# misc
notes.md
cred
sentries
gateway_bug
test.py
venv
.vscode
.idea
__pycache__
node_modules
package-lock.json
push_images.sh
steam_login.py

# glob
*.exe
*.sum
