config.py

# bot
bot/navparse/nav
bot/config.py
bot/config copy.py

# demoparse microservice
microservices/demoparse_py
microservices/demoparse/config.py
microservices/demoparse/parse/amqp_tests.js
microservices/demoparse/parse/asd
microservices/demoparse/data

# recorder microservice
microservices/recorder/hlae
microservices/recorder/mmcfg
microservices/recorder/config.py
microservices/recorder/standalone.py

# uploader microservice
microservices/uploader/config.py

# docker stuff
.env
Makefile
docker-compose.yml

# misc
notes.md
cred
sentries
test.py
venv
.vscode
.idea
__pycache__
node_modules
package-lock.json
push_images.sh

# glob
*.exe
*.sum
